.countries{
    display: flex;
    flex-wrap:wrap;
    margin-right:auto;
    justify-content: space-between;
}
.countries div{
    /* padding:10px; */
    width:23%;
    /* background-color: aqua; */
}

.single{
    margin:20px 0;
    background-color:hsl(0, 0%,100%);
}
.flag{
    height: 25vh;
    width:20.6vw;
}
.name{
    font-weight: 600;
    font-size: 1rem;
    width:20vw;

}
.country-details{
    padding:20px 20px;
    text-align: start;
    /* width:23vw;
    background: white; */
}
.denotion{
    font-weight: 600;

}
.other-details{
    font-size: 0.7rem;
    display: block;
    width:20vw;
}
.search-filter{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:20px 0;
}